<h1>ログイン</h1>
<% if user_signed_in? %>

<h4>メールアドレス:<%= current_user.email%> </h4>
<%= link_to "ログイン"%>
<%else%>
<h2>現在ログインしていません</h2>
<%= link_to "ログイン", new_user_session_path, class: 'post'%>
<%= link_to "新規登録", new_user_registration_path, class:'post' %>
<%end%>