.container-img{
  height: 100vh;
  background-image: image-url("top.jpg");
  background-size: cover;
  background-position: center center;
}
.container-rgb{
  background-color: rgba(255,255,255,0.5);
  height: 100vh;
}